@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
header{
    background-color: transparent;
    color

}